*{
    margin:0;
    padding:0;
}


body{
    background: rgb(243,243,243);
    background: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(208,253,178,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



#content-area{
    width:70%;
    height:80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgb(213, 210, 210);
    padding:20px;
    box-sizing: border-box;
    
}

.header{
display:flex;
justify-content: center;
}

.header img{
    width:60px;
    height:60px;
    display: inline-block;
    margin:10px;
    vertical-align: middle;
}

.header h1{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

h1,h2{
    margin:20px;
}

.assignment-wrapper {
    width:100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(251, 248, 248);
    transition: all .3s;
    cursor: pointer;
}

.assignment-slider {
    display: flex;
    width: calc(100% + 100px);
    flex-direction: row;
}

.assignment-container {
    padding:10px;
    width: 100%;
    text-decoration: none;
    color:black;
    box-sizing: border-box;
    border-radius:5px ;
    border-left:5px solid rgb(18, 227, 88);
    user-select: none;
    
}

.assignment-container:hover{
    border-left:5px solid rgb(26, 194, 0);
}
.assignment-wrapper:hover {
    background-color: rgb(244, 239, 239);
    box-shadow: 0px 2px 10px rgb(213, 210, 210);
    
}

.assignment-delete {
    width: 100px;
    height: auto;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: rgb(255, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    border: 0px;
    user-select: none;
    cursor: pointer;
    transition: all .3s;
}
.assignment-delete:hover {
    background-color: rgb(168, 0, 0);
}

.upcoming-assignments{
    max-height:60%;
    overflow: auto;
    overflow-x: hidden;
   
}

a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px; /*to make the scrollbar invisible*/
}