*{
    margin:0;
    padding:0;

    transition: all .3s ease-out;

    --text-color:black;
    color:var(--text-color);

    --green:rgb(18, 227, 88);
    --green-active:rgb(26, 194, 0);

    --assignment-background:rgb(251, 248, 248);
    --assignment-background-hover:rgb(244, 239, 239);

    --shadow-color:rgb(213, 210, 210);
    --content-background:white;
    --background-gradient:linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(208,253,178,1) 100%);

    --hover-effect: 0px 2px 10px var(--shadow-color);
}

body.dark, body.dark *{
    --text-color:rgb(225, 225, 225);
    --green-active:rgb(0, 121, 72);

    --assignment-background:rgb(20,20,20);
    --assignment-background-hover:rgb(10,10,10);

    --shadow-color:rgb(10, 10, 10);
    --content-background:rgb(35,35,35);
    --background-gradient:linear-gradient(0deg, rgb(17, 17, 17) 0%, rgb(30,30,30) 100%);

    --hover-effect: 0px 2px 5px rgba(0,0,0,.3);
}

.dark .upcoming-assignments {
    animation: fade-out-in 1s 1 ease;
}
body:not(.dark) .upcoming-assignments {
    animation: fade-out-in2 1s 1 ease;
}

.dark p {
    font-weight: 600;
}
.dark h3 {
    font-weight: 100;
    letter-spacing: .04rem;
}

body{
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon-icon, .sun-icon {
    display: none;
    fill: var(--text-color)
}

.moon-icon:hover, .sun-icon:hover {
    opacity: .6;
}
.active-theme {
    display: block;
}

#content-area{
    width:70%;
    height:80%;
    background-color: var(--content-background);
    border-radius: 15px;
    box-shadow: 0px 10px 10px var(--shadow-color);
    padding:20px;
    box-sizing: border-box;
    
}

.header{
display:flex;
justify-content: center;
}

.header img{
    width:60px;
    height:60px;
    display: inline-block;
    margin:10px;
    vertical-align: middle;
}

.header h1{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

h1{
    margin: 20px;
}
h2 {
    margin: 20px 20px 20px 5px;
}

.assignment-wrapper {
    width:100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--assignment-background);
    transition: all .3s;
    cursor: pointer;
}

.assignment-slider {
    display: flex;
    width: calc(100% + 100px);
    flex-direction: row;
}

.assignment-container {
    padding: 10px 15px 10px 10px;
    width: 100%;
    text-decoration: none;
    color:var(--text-color);
    box-sizing: border-box;
    border-radius:5px ;
    border-left:5px solid var(--green);
    user-select: none;
    
}

.assignment-container:hover{
    border-left:5px solid var(--green-active);
}
.assignment-wrapper:hover {
    background-color: var(--assignment-background-hover);
    box-shadow: var(--hover-effect);
}

.assignment-delete {
    width: 100px;
    height: auto;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: rgb(255, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    border: 0px;
    user-select: none;
    cursor: pointer;
    transition: all .3s;
}
.assignment-delete:hover {
    background-color: rgb(168, 0, 0);
}

.upcoming-assignments{
    max-height:60%;
    overflow: auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px; /*to make the scrollbar invisible*/
}
/* ======================= ANIMATIONS ======================= */
@keyframes fade-out-in {
    0%,100% {
        opacity: 100%;
    }
    10%,30% {
        opacity: 0%;
    }
}
@keyframes fade-out-in2 {
    0%,100% {
        opacity: 100%;
    }
    10%,30% {
        opacity: 0%;
    }
}